

.ingredients{ 
    background-color:rgb(194, 226, 194);
    width: 200px;
    border: 10px;
    padding: 10px; 
}

.method{ 
    background-color: rgb(194, 226, 194); 
    width: 500px;
    border: 10px;
    padding: 10px; 
}